.button-group{
  text-align: start;
}

.button-group button:first-child{
  margin-right: 10px;
}

.recipe-edit-form-group{
  margin-top: 30px;
}

.label{
  float: left;
}

#edit-header{
  text-align: start;
  margin-bottom: 30px;
}


