.ingredient-list{
  align-items: center;
}

.ingredient-list li{
  width: 50%;
}

.recipe-description{

  margin-top: 30px;
}

.recipe-description div:first-child{
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 10px 0;
}
