.ingredient-list{
  align-items: center;
}

.ingredient-list li{
  width: 100%;
}

.recipe-description{

  margin-top: 30px;
}

.recipe-description div:first-child{
  border-radius: 5px;
}

.recipe-description div div{
  border: 1px solid #DCDCDC;
  padding: 0.75rem 1.25rem;
}

.image{
  border-radius: 10px;
}
